.Footertxt img {
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.Icons svg {
  font-size: 30px;
  cursor: pointer;
  transition: transform .3s ease, color .3s ease;
}

.Icons svg:hover {
  color: #0000007a;
  transform: translateY(-3px);
}

.Footertxt {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FooterSec1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 200;
    gap: 50px;
    margin: 0px 20px;
}

.Icons {
    display: flex;
    font-family: monospace;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: black;
}

.Icons svg {
    font-size: 30px;
    margin-top: 5px;
}

.FooterLogo img {
    width: 50px;
}

.FooterLogo {
    display: flex;
    gap: 70px;
}

@media (max-width: 900px) {
    .Icons {
        font-size: 10px;
    }
    .FooterSec1{
       gap: 10px;
    }
}
