.Hcontainer{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
.Home,.Game{
    height: 100vh;
    scroll-snap-align: start;
}
::-webkit-scrollbar{
    display:none;
}
.Hcontainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}