.Hcontainer {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.Home,
.Game {
  height: 100vh;
  scroll-snap-align: start;
}

::-webkit-scrollbar {
  display: none;
}

.HeadDev {
  position: relative;
  z-index: 1;
}

.HeadDev img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  position: absolute;
  z-index: -1;
}

.HomeContxt {
  position: relative;
  top: 180px;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.HomeContxt h1 {
  font-family: "Texturina", serif;
  color: #ffffff;
  font-size: 65px;
  letter-spacing: 3px;
  position: relative;
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
  animation: holoFlicker 3s infinite;
}

@keyframes holoFlicker {
  0% {
    opacity: 0.3;
    text-shadow: 0 0 4px #4da3ff;
  }

  5% {
    opacity: 1;
    text-shadow: 0 0 20px #4da3ff;
  }

  10% {
    opacity: 0.5;
  }

  15% {
    opacity: 1;
  }

  25% {
    opacity: 0.7;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    text-shadow: 0 0 25px #4da3ff;
  }
}

.HomeContxt p {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 2rem;
}


.ButtonContxt button {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 12px 32px;
  border-radius: 30px;
  margin: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.ButtonContxt button:hover,
.ButtonContxt button:active {
  color: #4da3ff;
  border-color: #4da3ff;
  box-shadow: 0 0 20px #4da3ff;
  transform: scale(1.05);
}


.PlayIcons {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

.PlayIcons svg {
  font-size: 2.3rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

.PlayIcons svg:hover,
.PlayIcons svg:active {
  color: #76b5f8dc;
  filter: drop-shadow(0 0 12px #4da3ff);
  transform: scale(1.2);
}

@media (max-width: 800px) {
  .HomeContxt h1{
    font-size: 35px;
  }
  .HomeContxt{
    top: 160px;
  }
  
}