.redeemBody {
  background: linear-gradient(#0a0a0a, #2f2f2f);
  min-height: 100vh;
  color: white;
}

.redeemHero {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.GiftBox {
  text-align: center;
}

.GiftBox label {
  font-size: 42px;
  letter-spacing: 4px;
  font-family: "Caesar Dressing", system-ui;
}

.Gifaction {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.Gifaction input {
  width: 360px;
  padding: 14px;
  border-radius: 12px;
  background: transparent;
  border: 2px solid #c9b37a;
  color: white;
  font-size: 16px;
}

.Gifaction button {
  padding: 14px 28px;
  border-radius: 12px;
  background: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.Gifaction button:hover {
  background: transparent;
  border: 2px solid #c9b37a;
  color: #c9b37a;
}

.topUpSection {
  background-color: #6f6f6f;
  padding: 60px 40px;
}

.topUpTitle {
  text-align: center;
  font-family: "Caesar Dressing", system-ui;
  letter-spacing: 3px;
  margin-bottom: 40px;
}

.StoreTxt {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 40px;
}


@media (max-width: 600px) {
  .Gifaction {
    flex-direction: column;
  }

  .Gifaction input {
    width: 100%;
  }

  .Gifaction button {
    width: 100%;
  }
}
