.Redeemtxt{
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.884);
    top: 0px;
    color: aliceblue;
    position: absolute;
    font-family: 'Franklin Gothic Medium';
    padding-top: 150px;
}
.Gifaction{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.GiftBox label{
    font-size: 40px;
    
   
}
.Gifaction button{

    width: 100px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}
.Gifaction button:hover{
    cursor: pointer;
   background-color: transparent;
   color: aliceblue;
   border: 2px rgb(255, 255, 255) solid;
}

.Gifaction input{
    padding: 10px 0px 10px 10px ;
    width: 400px;
    border-radius: 10px;
    font-size: 20px;
    background-color: transparent;
   color: aliceblue;
   border: 2px rgb(255, 255, 255) solid;
}