.storeIteam img{
    width: 150px;
    border-radius: 10px;
}

.ItemsTxt{
 display: flex;
 flex-wrap: wrap;
 row-gap: 70px; 
 margin: 20px 0px 0px 0px;
 justify-content:space-around ;
 column-gap: 100px; 
}
.TopTxt{
    padding-bottom: 50px;
}
.TopUp1{
    font-family: 'Franklin Gothic Medium';
    margin: 100px 10px 100px 50px;
    color: #000000;
}
.storeIteam button{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: black;
    color: #E6E7E9;
    
}
.storeIteam button:hover{
    background-color: rgb(255, 255, 255);
    color: #000000;
    cursor: pointer;
    border: #000000 2px solid ;
}
.storeIteam{
    background-color: #E6E7E9;
    border-radius: 10px;
    padding: 20px 20px;
    display: flex;
    font-family: 'Franklin Gothic Medium';
    flex-direction: column;
    row-gap: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media (max-width: 900px) {
    .ItemsTxt{
        column-gap: 70px;
    }
}
@media (max-width: 500px) {
   
   .ItemsTxt{
    column-gap: 15px;
   }
   .storeIteam img{
     width: 90px;
   }
   .storeIteam{
    font-size: 10px;
   }
   .ItemsTxt{
    margin: 10px 20px;
   }
}