@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Saira:ital,wght@0,100..900;1,100..900&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   -webkit-tap-highlight-color: transparent;
}