@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Metal+Mania&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   -webkit-tap-highlight-color: transparent;
}